@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import "@/styles/color.scss";

html, body {
  padding: 0;
  margin: 0;
}

body, body * {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.m-input {
  width: 100%;
  padding: 6px 12px;
  background: transparent;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;

  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

input[type='radio'] {
  background-color: $color-secondary;
}

select {
  width: 100%;
  padding: 6px;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  cursor: pointer;

  option {
    color: #000;
  }
  
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

table {
  width: 100%;

  th, td {
    width: 1%;
  }
}


// // Medium devices (tablets, 768px and up)
// @media (max-width: 1200px) {
//   html {

//   }
// }
// // Medium devices (tablets, 768px and up)
// @media (max-width: 992px) {
//   html {

//   }
// }
// // Medium devices (tablets, 768px and up)
// @media (max-width: 768px) {
//   html, * {
//     font-size: 12px;
//   }
// }
// // Small devices (landscape phones, 576px and up)
// @media (max-width: 576px) {
//   html {
//     font-size: 75%
//   }
// }